* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #222;
  line-height: 1.6;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: white;
  border-radius: 20px;
}

h1 {
  color: #44a731;
}

h2 {
  color: #333;
}

a {
  color: #2563eb;
}

ul {
  padding-left: 20px;
}

.farba {
  color: crimson;
  size: 67px;
}
.farba2 {
  color:#2563eb;
}

.farba3 {
  color: chartreuse;
}

.idk {
  border-radius: 20px;
}

.velkost {
  width: 500px;
  border-radius: 20px;
}
.velkost2{
  width: 350px;
  border-radius: 20px;
}